@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: brown;
    background-image: url('https://i.ibb.co/YRsFjmC/Pngo.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}
